
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
           Hi, Hyung Joo <br />
           This is From Home Index View<br />

        @ViewBag.Greeting Baby~
        <p>
            We're going to having an exciteing party<br />
            (To do : sell it better. Add pictures or something.)
        </p>

        @Html.ActionLink("RSVP Now", "RsvpForm");
    </div>
</body>
</html>
